In [1]:
# Dependencies
import pandas as pd
from sqlalchemy import create_engine

In [2]:
### Store CSV into DataFrame

In [3]:
# Store Pokemon filepath in a variable
pokemon_file = "Resources/PokemonDb.csv"
pokemon_data_df = pd.read_csv(pokemon_file)
# Show just the header
pokemon_data_df.head()

,Name,Variation,Type1,Type2,Total,HP,Attack,Defense,Sp.Atk,Sp.Def,Speed
0,Bulbasaur,NaN,Grass,Poison,318,45,49,49,65,65,45
1,Ivysaur,NaN,Grass,Poison,405,60,62,63,80,80,60
2,Venusaur,NaN,Grass,Poison,525,80,82,83,100,100,80
3,Venusaur,Mega,Grass,Poison,625,80,100,123,122,120,80
4,Charmander,NaN,Fire,NaN,309,39,52,43,60,50,65

In [5]:
#Store Chick-Fil-A filepath in a variable
chik_fil_a_file = "Resources/chick-fil-a-nutrition.csv"
chik_fil_a_data_df = pd.read_csv(chik_fil_a_file)
# Show just the header
chik_fil_a_data_df.head()

,Menu,Serving size,Calories,Fat (G),Sat. Fat (G),Trans Fat (G),Cholesterol (MG),Sodium (MG),Carbohydrates (G),Fiber (G),Sugar (G),Protein (G)
0,Chick-fil-A® Chicken Biscuit,153g,460.0,23.0,8.0,0.0,45,1510,45,2,6,19
1,Chick-fil-A Chick-n-Minis™,127g,360.0,13.0,4.0,0.0,60,1050,41,2,8,19
2,Egg White Grill,172g,290.0,8.0,3.5,0.0,60,980,30,1,2,26
3,Hash Brown Scramble Burrito,302g,700.0,40.0,12.0,0.5,415,1750,51,3,2,34
4,Hash Brown Scramble Bowl,233g,470.0,30.0,9.0,0.0,415,1340,19,2,2,29

In [6]:
# Store Chick-fil-a filepath in a variable
chick_fil_a_file = "Resources/chick-fil-a-nutrition.csv"
chick_fil_a_data_df = pd.read_csv(chick_fil_a_file)
# Show just the header
chick_fil_a_data_df.head()

,Menu,Serving size,Calories,Fat (G),Sat. Fat (G),Trans Fat (G),Cholesterol (MG),Sodium (MG),Carbohydrates (G),Fiber (G),Sugar (G),Protein (G)
0,Chick-fil-A® Chicken Biscuit,153g,460.0,23.0,8.0,0.0,45,1510,45,2,6,19
1,Chick-fil-A Chick-n-Minis™,127g,360.0,13.0,4.0,0.0,60,1050,41,2,8,19
2,Egg White Grill,172g,290.0,8.0,3.5,0.0,60,980,30,1,2,26
3,Hash Brown Scramble Burrito,302g,700.0,40.0,12.0,0.5,415,1750,51,3,2,34
4,Hash Brown Scramble Bowl,233g,470.0,30.0,9.0,0.0,415,1340,19,2,2,29

In [7]:
# Filter for only the basic types of Pokemons
pokemon_data_df = pokemon_data_df.loc[pokemon_data_df["Variation"].isna(), :]
pokemon_data_df

,Name,Variation,Type1,Type2,Total,HP,Attack,Defense,Sp.Atk,Sp.Def,Speed
0,Bulbasaur,NaN,Grass,Poison,318,45,49,49,65,65,45
1,Ivysaur,NaN,Grass,Poison,405,60,62,63,80,80,60
2,Venusaur,NaN,Grass,Poison,525,80,82,83,100,100,80
4,Charmander,NaN,Fire,NaN,309,39,52,43,60,50,65
5,Charmeleon,NaN,Fire,NaN,405,58,64,58,80,65,80
...,...,...,...,...,...,...,...,...,...,...,...
1044,Sneasler,NaN,Poison,Fighting,510,80,130,60,40,80,120
1046,Overqwil,NaN,Dark,Poison,510,85,115,95,65,65,85
1065,Wyrdeer,NaN,Normal,Psychic,525,103,105,72,105,75,65
1069,Kleavor,NaN,Bug,Rock,505,70,135,95,45,75,85
1070,Ursaluna,NaN,Normal,Ground,550,130,140,105,45,80,50

In [8]:
# Drop columns that are not needed
pokemon_data_df = pokemon_data_df.drop(columns = ["Variation", "Total"])
pokemon_data_df

,Name,Type1,Type2,HP,Attack,Defense,Sp.Atk,Sp.Def,Speed
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45
1,Ivysaur,Grass,Poison,60,62,63,80,80,60
2,Venusaur,Grass,Poison,80,82,83,100,100,80
4,Charmander,Fire,NaN,39,52,43,60,50,65
5,Charmeleon,Fire,NaN,58,64,58,80,65,80
...,...,...,...,...,...,...,...,...,...
1044,Sneasler,Poison,Fighting,80,130,60,40,80,120
1046,Overqwil,Dark,Poison,85,115,95,65,65,85
1065,Wyrdeer,Normal,Psychic,103,105,72,105,75,65
1069,Kleavor,Bug,Rock,70,135,95,45,75,85
1070,Ursaluna,Normal,Ground,130,140,105,45,80,50

In [9]:
# Replace NaN values with a space
pokemon_data_df = pokemon_data_df.fillna("")

In [10]:
# Sort Pokemons first by Type1 then by Type2
pokemon_data_df = pokemon_data_df.sort_values(by = ['Type1', 'Type2'], ascending = [True, True])
pokemon_data_df

           Name  Type1  Type2   HP  Attack  Defense  Sp.Atk  Sp.Def  Speed
13     Caterpie    Bug          45      30       35      20      20     45
14      Metapod    Bug          50      20       55      25      25     30
163      Pinsir    Bug          65     125      100      55      70     85
251      Pineco    Bug          50      65       90      35      35     15
323     Wurmple    Bug          45      45       35      20      30     20
..          ...    ...    ...  ...     ...      ...     ...     ...    ...
442   Relicanth  Water   Rock  100      90      130      45      65     55
668    Tirtouga  Water   Rock   54      78      103      53      45     22
669  Carracosta  Water   Rock   74     108      133      83      65     32
969     Drednaw  Water   Rock   90     115       90      48      68     74
478    Empoleon  Water  Steel   84      86       88     111     101     60

[874 rows x 9 columns]

In [11]:
# Calculate the Total Offensive and Total Defensive stats
for name in pokemon_data_df["Name"]:
    pokemon_data_df["Total Attack"] = pokemon_data_df["Attack"] + pokemon_data_df["Sp.Atk"]
    pokemon_data_df["Total Defense"] = pokemon_data_df["Defense"] + pokemon_data_df["Sp.Def"]
pokemon_data_df

,Name,Type1,Type2,HP,Attack,Defense,Sp.Atk,Sp.Def,Speed,Total Attack,Total Defense
13,Caterpie,Bug,,45,30,35,20,20,45,50,55
14,Metapod,Bug,,50,20,55,25,25,30,45,80
163,Pinsir,Bug,,65,125,100,55,70,85,180,170
251,Pineco,Bug,,50,65,90,35,35,15,100,125
323,Wurmple,Bug,,45,45,35,20,30,20,65,65
...,...,...,...,...,...,...,...,...,...,...,...
442,Relicanth,Water,Rock,100,90,130,45,65,55,135,195
668,Tirtouga,Water,Rock,54,78,103,53,45,22,131,148
669,Carracosta,Water,Rock,74,108,133,83,65,32,191,198
969,Drednaw,Water,Rock,90,115,90,48,68,74,163,158
478,Empoleon,Water,Steel,84,86,88,111,101,60,197,189

In [12]:
# Capitalize the first letter of each Pokemon Name, Type1 and Type2
pokemon_data_df["Name"] = pokemon_data_df["Name"].str.capitalize()
pokemon_data_df["Type1"] = pokemon_data_df["Type1"].str.capitalize()
pokemon_data_df["Type2"] = pokemon_data_df["Type2"].str.capitalize()
pokemon_data_df

,Name,Type1,Type2,HP,Attack,Defense,Sp.Atk,Sp.Def,Speed,Total Attack,Total Defense
13,Caterpie,Bug,,45,30,35,20,20,45,50,55
14,Metapod,Bug,,50,20,55,25,25,30,45,80
163,Pinsir,Bug,,65,125,100,55,70,85,180,170
251,Pineco,Bug,,50,65,90,35,35,15,100,125
323,Wurmple,Bug,,45,45,35,20,30,20,65,65
...,...,...,...,...,...,...,...,...,...,...,...
442,Relicanth,Water,Rock,100,90,130,45,65,55,135,195
668,Tirtouga,Water,Rock,54,78,103,53,45,22,131,148
669,Carracosta,Water,Rock,74,108,133,83,65,32,191,198
969,Drednaw,Water,Rock,90,115,90,48,68,74,163,158
478,Empoleon,Water,Steel,84,86,88,111,101,60,197,189

In [13]:
# Reset index
pokemon_data_df.reset_index(inplace = True, drop = True)
pokemon_data_df

,Name,Type1,Type2,HP,Attack,Defense,Sp.Atk,Sp.Def,Speed,Total Attack,Total Defense
0,Caterpie,Bug,,45,30,35,20,20,45,50,55
1,Metapod,Bug,,50,20,55,25,25,30,45,80
2,Pinsir,Bug,,65,125,100,55,70,85,180,170
3,Pineco,Bug,,50,65,90,35,35,15,100,125
4,Wurmple,Bug,,45,45,35,20,30,20,65,65
...,...,...,...,...,...,...,...,...,...,...,...
869,Relicanth,Water,Rock,100,90,130,45,65,55,135,195
870,Tirtouga,Water,Rock,54,78,103,53,45,22,131,148
871,Carracosta,Water,Rock,74,108,133,83,65,32,191,198
872,Drednaw,Water,Rock,90,115,90,48,68,74,163,158
873,Empoleon,Water,Steel,84,86,88,111,101,60,197,189

In [14]:
# Filter for single serving items
chik_fil_a_data_df = chik_fil_a_data_df[chik_fil_a_data_df["Menu"].str.contains("Tray|Gallon|Bucket|8oz|Ice Scoop|96|Catering|Bag")==False]
chik_fil_a_data_df

,Menu,Serving size,Calories,Fat (G),Sat. Fat (G),Trans Fat (G),Cholesterol (MG),Sodium (MG),Carbohydrates (G),Fiber (G),Sugar (G),Protein (G)
0,Chick-fil-A® Chicken Biscuit,153g,460.0,23.0,8.0,0.0,45,1510,45,2,6,19
1,Chick-fil-A Chick-n-Minis™,127g,360.0,13.0,4.0,0.0,60,1050,41,2,8,19
2,Egg White Grill,172g,290.0,8.0,3.5,0.0,60,980,30,1,2,26
3,Hash Brown Scramble Burrito,302g,700.0,40.0,12.0,0.5,415,1750,51,3,2,34
4,Hash Brown Scramble Bowl,233g,470.0,30.0,9.0,0.0,415,1340,19,2,2,29
...,...,...,...,...,...,...,...,...,...,...,...,...
285,Crispy Bell Peppers,14g,80.0,6.0,0.0,0.0,0,75,6,0,0,1
286,Harvest Nut Granola,14g,70.0,2.0,0.0,0.0,0,35,10,0,4,1
287,Seasoned Tortilla Strips,14g,70.0,4.0,0.0,0.0,0,55,8,1,0,1
288,Lemon Parmesan Panko,0g,0.0,0.0,0.0,0.0,0,0,0,0,0,0
289,Saltines,6g,25.0,0.5,0.0,0.0,0,90,5,0,0,0

In [15]:
# Edit "Serving Size" column, remove "g" and change type to float
chik_fil_a_data_df['Serving size'] = chik_fil_a_data_df['Serving size'].str.replace('g','')
chik_fil_a_data_df['Serving size'] = pd.to_numeric(chik_fil_a_data_df['Serving size'], downcast='float')
chik_fil_a_data_df.head()

,Menu,Serving size,Calories,Fat (G),Sat. Fat (G),Trans Fat (G),Cholesterol (MG),Sodium (MG),Carbohydrates (G),Fiber (G),Sugar (G),Protein (G)
0,Chick-fil-A® Chicken Biscuit,153.0,460.0,23.0,8.0,0.0,45,1510,45,2,6,19
1,Chick-fil-A Chick-n-Minis™,127.0,360.0,13.0,4.0,0.0,60,1050,41,2,8,19
2,Egg White Grill,172.0,290.0,8.0,3.5,0.0,60,980,30,1,2,26
3,Hash Brown Scramble Burrito,302.0,700.0,40.0,12.0,0.5,415,1750,51,3,2,34
4,Hash Brown Scramble Bowl,233.0,470.0,30.0,9.0,0.0,415,1340,19,2,2,29

In [16]:
# Rename 'Serving size' to:'Serving Size (G)'
chik_fil_a_data_df.rename(columns = {'Serving size':'Serving Size (G)'}, inplace = True)
chik_fil_a_data_df

,Menu,Serving Size (G),Calories,Fat (G),Sat. Fat (G),Trans Fat (G),Cholesterol (MG),Sodium (MG),Carbohydrates (G),Fiber (G),Sugar (G),Protein (G)
0,Chick-fil-A® Chicken Biscuit,153.0,460.0,23.0,8.0,0.0,45,1510,45,2,6,19
1,Chick-fil-A Chick-n-Minis™,127.0,360.0,13.0,4.0,0.0,60,1050,41,2,8,19
2,Egg White Grill,172.0,290.0,8.0,3.5,0.0,60,980,30,1,2,26
3,Hash Brown Scramble Burrito,302.0,700.0,40.0,12.0,0.5,415,1750,51,3,2,34
4,Hash Brown Scramble Bowl,233.0,470.0,30.0,9.0,0.0,415,1340,19,2,2,29
...,...,...,...,...,...,...,...,...,...,...,...,...
285,Crispy Bell Peppers,14.0,80.0,6.0,0.0,0.0,0,75,6,0,0,1
286,Harvest Nut Granola,14.0,70.0,2.0,0.0,0.0,0,35,10,0,4,1
287,Seasoned Tortilla Strips,14.0,70.0,4.0,0.0,0.0,0,55,8,1,0,1
288,Lemon Parmesan Panko,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0
289,Saltines,6.0,25.0,0.5,0.0,0.0,0,90,5,0,0,0

In [17]:
# Sorting data by "Calories" and "Serving Size (G)"
chik_fil_a_data_df = chik_fil_a_data_df.sort_values(by = ['Calories', 'Serving Size (G)'], ascending = [False, False])
chik_fil_a_data_df.head()

,Menu,Serving Size (G),Calories,Fat (G),Sat. Fat (G),Trans Fat (G),Cholesterol (MG),Sodium (MG),Carbohydrates (G),Fiber (G),Sugar (G),Protein (G)
58,30 ct Chick-fil-A® Nuggets,425.0,950.0,43.0,9.0,0.0,315,4550,41,0,4,100
72,Cobb Salad w/ Chick-fil-A Chick-n-Strips®,436.0,910.0,63.0,13.0,0.0,230,1870,40,6,10,45
82,Spicy Southwest Salad w/ Chick-fil-A Chick-n-S...,475.0,890.0,61.0,12.0,0.0,115,1710,44,8,9,43
75,Cobb Salad w/ Spicy Filet,420.0,870.0,62.0,13.0,0.0,220,2390,40,6,10,39
15,10 ct Chick-fil-A Chick-n-Minis™,304.0,870.0,35.0,10.0,0.0,130,2150,92,5,14,48

In [31]:
# Reset index
chik_fil_a_data_df.reset_index(inplace=True, drop=True)
chik_fil_a_data_df.dtypes

Menu                  object
Serving Size (G)     float32
Calories             float64
Fat (G)              float64
Sat. Fat (G)         float64
Trans Fat (G)        float64
Cholesterol (MG)       int64
Sodium (MG)            int64
Carbohydrates (G)      int64
Fiber (G)              int64
Sugar (G)              int64
Protein (G)            int64
dtype: object

In [19]:
# Connect to the database
rds_connection_string = "postgres:postgres@localhost:5432/Pokemon_friends"
engine = create_engine(f"postgresql://{rds_connection_string}")

In [27]:
# Use pandas to load csv converted to dataFrame into database (Chick-fil-a)
chik_fil_a_data_df.to_sql(name = "chick_fil_a", con = engine, if_exists = "append", index=False)

In [21]:
# Check for tables in "chick-fil-a" table
# engine.table_names()

In [22]:
# Use pandas to load csv converted to dataFrame into database (Pokemon)
pokemon_data_df.to_sql(name = "pokemon_data", con = engine, if_exists = "append", index=False)

In [28]:
# Check for tables
engine.table_names()

C:\Users\tomsa\AppData\Local\Temp/ipykernel_16548/2986013912.py:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['chick-fil-a', 'pokemon_data', 'chick_fil_a']

In [24]:
pd.read_sql_query("select * from pokemon_data", con = engine).head()

,Name,Type1,Type2,HP,Attack,Defense,Sp.Atk,Sp.Def,Speed,Total Attack,Total Defense
0,Caterpie,Bug,,45,30,35,20,20,45,50,55
1,Metapod,Bug,,50,20,55,25,25,30,45,80
2,Pinsir,Bug,,65,125,100,55,70,85,180,170
3,Pineco,Bug,,50,65,90,35,35,15,100,125
4,Wurmple,Bug,,45,45,35,20,30,20,65,65

In [29]:
pd.read_sql_query("select * from chick_fil_a", con = engine).head()

,Menu,Serving Size (G),Calories,Fat (G),Sat. Fat (G),Trans Fat (G),Cholesterol (MG),Sodium (MG),Carbohydrates (G),Fiber (G),Sugar (G),Protein (G)
0,30 ct Chick-fil-A® Nuggets,425.0,950.0,43.0,9.0,0.0,315,4550,41,0,4,100
1,Cobb Salad w/ Chick-fil-A Chick-n-Strips®,436.0,910.0,63.0,13.0,0.0,230,1870,40,6,10,45
2,Spicy Southwest Salad w/ Chick-fil-A Chick-n-S...,475.0,890.0,61.0,12.0,0.0,115,1710,44,8,9,43
3,Cobb Salad w/ Spicy Filet,420.0,870.0,62.0,13.0,0.0,220,2390,40,6,10,39
4,10 ct Chick-fil-A Chick-n-Minis™,304.0,870.0,35.0,10.0,0.0,130,2150,92,5,14,48