In [1]:
# Dependencies
import pandas as pd
from sqlalchemy import create_engine
from config import name_key
from config import password_key

In [2]:
### Store CSV into DataFrame

In [3]:
# Store Pokemon filepath into a variable
pokemon_file = "Resources/PokemonDb.csv"
# Read csv file into dataFrame
pokemon_data_df = pd.read_csv(pokemon_file)
# Preview dataframe
pokemon_data_df.head()

,Name,Variation,Type1,Type2,Total,HP,Attack,Defense,Sp.Atk,Sp.Def,Speed
0,Bulbasaur,NaN,Grass,Poison,318,45,49,49,65,65,45
1,Ivysaur,NaN,Grass,Poison,405,60,62,63,80,80,60
2,Venusaur,NaN,Grass,Poison,525,80,82,83,100,100,80
3,Venusaur,Mega,Grass,Poison,625,80,100,123,122,120,80
4,Charmander,NaN,Fire,NaN,309,39,52,43,60,50,65

In [4]:
# Store Chick-fil-a filepath into a variable
chick_fil_a_file = "Resources/chick-fil-a-nutrition.csv"
# Read csv file into dataFrame
chick_fil_a_data_df = pd.read_csv(chick_fil_a_file)
# Preview dataframe
chick_fil_a_data_df.head()

,Menu,Serving size,Calories,Fat (G),Sat. Fat (G),Trans Fat (G),Cholesterol (MG),Sodium (MG),Carbohydrates (G),Fiber (G),Sugar (G),Protein (G)
0,Chick-fil-A® Chicken Biscuit,153g,460.0,23.0,8.0,0.0,45,1510,45,2,6,19
1,Chick-fil-A Chick-n-Minis™,127g,360.0,13.0,4.0,0.0,60,1050,41,2,8,19
2,Egg White Grill,172g,290.0,8.0,3.5,0.0,60,980,30,1,2,26
3,Hash Brown Scramble Burrito,302g,700.0,40.0,12.0,0.5,415,1750,51,3,2,34
4,Hash Brown Scramble Bowl,233g,470.0,30.0,9.0,0.0,415,1340,19,2,2,29

In [5]:
# Filter for only the basic types of Pokemons
pokemon_data_df = pokemon_data_df.loc[pokemon_data_df["Variation"].isna(), :]
# Preview dataframe
pokemon_data_df.head()

,Name,Variation,Type1,Type2,Total,HP,Attack,Defense,Sp.Atk,Sp.Def,Speed
0,Bulbasaur,NaN,Grass,Poison,318,45,49,49,65,65,45
1,Ivysaur,NaN,Grass,Poison,405,60,62,63,80,80,60
2,Venusaur,NaN,Grass,Poison,525,80,82,83,100,100,80
4,Charmander,NaN,Fire,NaN,309,39,52,43,60,50,65
5,Charmeleon,NaN,Fire,NaN,405,58,64,58,80,65,80

In [6]:
# Drop the columns that are not needed
pokemon_data_df = pokemon_data_df.drop(columns = ["Variation", "Total"])

In [7]:
# Replace NaN values with a blank
pokemon_data_df = pokemon_data_df.fillna("")

In [8]:
# Set the title case for the "Name", "Type1" and "Type2" columns
pokemon_data_df["Name"] = pokemon_data_df["Name"].str.title()
pokemon_data_df["Type1"] = pokemon_data_df["Type1"].str.title()
pokemon_data_df["Type2"] = pokemon_data_df["Type2"].str.title()

In [9]:
# Sort the data by "Type1" then by "Type2" columns
pokemon_data_df = pokemon_data_df.sort_values(by = ["Type1", "Type2"], ascending = [True, True])
# Preview dataframe
pokemon_data_df.head()

         Name Type1 Type2  HP  Attack  Defense  Sp.Atk  Sp.Def  Speed
13   Caterpie   Bug        45      30       35      20      20     45
14    Metapod   Bug        50      20       55      25      25     30
163    Pinsir   Bug        65     125      100      55      70     85
251    Pineco   Bug        50      65       90      35      35     15
323   Wurmple   Bug        45      45       35      20      30     20

In [10]:
# Calculate the "Total Offensive" and "Total Defensive" stats
for name in pokemon_data_df["Name"]:
    pokemon_data_df["Total Attack"] = pokemon_data_df["Attack"] + pokemon_data_df["Sp.Atk"]
    pokemon_data_df["Total Defense"] = pokemon_data_df["Defense"] + pokemon_data_df["Sp.Def"]

In [13]:
# Reset the index column
pokemon_data_df.reset_index(inplace = True, drop = True)
# Preview dataframe
pokemon_data_df.head()

,Name,Type1,Type2,HP,Attack,Defense,Sp.Atk,Sp.Def,Speed,Total Attack,Total Defense
0,Caterpie,Bug,,45,30,35,20,20,45,50,55
1,Metapod,Bug,,50,20,55,25,25,30,45,80
2,Pinsir,Bug,,65,125,100,55,70,85,180,170
3,Pineco,Bug,,50,65,90,35,35,15,100,125
4,Wurmple,Bug,,45,45,35,20,30,20,65,65

In [14]:
# Filter for single serving items
chick_fil_a_data_df = chick_fil_a_data_df[chick_fil_a_data_df["Menu"].str.contains(
    "Tray|Gallon|Bucket|8oz|Ice Scoop|96|Catering|Bag") == False]
# Preview dataframe
chick_fil_a_data_df

,Menu,Serving size,Calories,Fat (G),Sat. Fat (G),Trans Fat (G),Cholesterol (MG),Sodium (MG),Carbohydrates (G),Fiber (G),Sugar (G),Protein (G)
0,Chick-fil-A® Chicken Biscuit,153g,460.0,23.0,8.0,0.0,45,1510,45,2,6,19
1,Chick-fil-A Chick-n-Minis™,127g,360.0,13.0,4.0,0.0,60,1050,41,2,8,19
2,Egg White Grill,172g,290.0,8.0,3.5,0.0,60,980,30,1,2,26
3,Hash Brown Scramble Burrito,302g,700.0,40.0,12.0,0.5,415,1750,51,3,2,34
4,Hash Brown Scramble Bowl,233g,470.0,30.0,9.0,0.0,415,1340,19,2,2,29
...,...,...,...,...,...,...,...,...,...,...,...,...
285,Crispy Bell Peppers,14g,80.0,6.0,0.0,0.0,0,75,6,0,0,1
286,Harvest Nut Granola,14g,70.0,2.0,0.0,0.0,0,35,10,0,4,1
287,Seasoned Tortilla Strips,14g,70.0,4.0,0.0,0.0,0,55,8,1,0,1
288,Lemon Parmesan Panko,0g,0.0,0.0,0.0,0.0,0,0,0,0,0,0
289,Saltines,6g,25.0,0.5,0.0,0.0,0,90,5,0,0,0

In [15]:
# Edit "Serving Size" column, remove trailing "g"
chick_fil_a_data_df["Serving size"] = chick_fil_a_data_df["Serving size"].str.replace("g","")
# Rename the column header from "Serving size" to "Serving Size (G)"
chick_fil_a_data_df.rename(columns = {"Serving size":"Serving Size (G)"}, inplace = True)

In [16]:
# Convert the data type of multiple columns to "float"
convert_dtype = {
    "Serving Size (G)": float,
    "Cholesterol (MG)": float,
    "Sodium (MG)": float,
    "Carbohydrates (G)": float,
    "Fiber (G)": float,
    "Sugar (G)": float,
    "Protein (G)": float
}
chick_fil_a_data_df = chick_fil_a_data_df.astype(convert_dtype)
chick_fil_a_data_df

,Menu,Serving Size (G),Calories,Fat (G),Sat. Fat (G),Trans Fat (G),Cholesterol (MG),Sodium (MG),Carbohydrates (G),Fiber (G),Sugar (G),Protein (G)
0,Chick-fil-A® Chicken Biscuit,153.0,460.0,23.0,8.0,0.0,45.0,1510.0,45.0,2.0,6.0,19.0
1,Chick-fil-A Chick-n-Minis™,127.0,360.0,13.0,4.0,0.0,60.0,1050.0,41.0,2.0,8.0,19.0
2,Egg White Grill,172.0,290.0,8.0,3.5,0.0,60.0,980.0,30.0,1.0,2.0,26.0
3,Hash Brown Scramble Burrito,302.0,700.0,40.0,12.0,0.5,415.0,1750.0,51.0,3.0,2.0,34.0
4,Hash Brown Scramble Bowl,233.0,470.0,30.0,9.0,0.0,415.0,1340.0,19.0,2.0,2.0,29.0
...,...,...,...,...,...,...,...,...,...,...,...,...
285,Crispy Bell Peppers,14.0,80.0,6.0,0.0,0.0,0.0,75.0,6.0,0.0,0.0,1.0
286,Harvest Nut Granola,14.0,70.0,2.0,0.0,0.0,0.0,35.0,10.0,0.0,4.0,1.0
287,Seasoned Tortilla Strips,14.0,70.0,4.0,0.0,0.0,0.0,55.0,8.0,1.0,0.0,1.0
288,Lemon Parmesan Panko,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
289,Saltines,6.0,25.0,0.5,0.0,0.0,0.0,90.0,5.0,0.0,0.0,0.0

In [17]:
# Set the title case for the "Menu" column
chick_fil_a_data_df["Menu"] = chick_fil_a_data_df["Menu"].str.title()

In [18]:
# Sort data by "Calories" and then by "Serving Size (G)" columns
chick_fil_a_data_df = chick_fil_a_data_df.sort_values(by = ["Calories", "Serving Size (G)"], ascending = [False, False])
# Preview dataframe
chick_fil_a_data_df.head()

,Menu,Serving Size (G),Calories,Fat (G),Sat. Fat (G),Trans Fat (G),Cholesterol (MG),Sodium (MG),Carbohydrates (G),Fiber (G),Sugar (G),Protein (G)
58,30 Ct Chick-Fil-A® Nuggets,425.0,950.0,43.0,9.0,0.0,315.0,4550.0,41.0,0.0,4.0,100.0
72,Cobb Salad W/ Chick-Fil-A Chick-N-Strips®,436.0,910.0,63.0,13.0,0.0,230.0,1870.0,40.0,6.0,10.0,45.0
82,Spicy Southwest Salad W/ Chick-Fil-A Chick-N-S...,475.0,890.0,61.0,12.0,0.0,115.0,1710.0,44.0,8.0,9.0,43.0
75,Cobb Salad W/ Spicy Filet,420.0,870.0,62.0,13.0,0.0,220.0,2390.0,40.0,6.0,10.0,39.0
15,10 Ct Chick-Fil-A Chick-N-Minis™,304.0,870.0,35.0,10.0,0.0,130.0,2150.0,92.0,5.0,14.0,48.0

In [19]:
# Reset the index column
chick_fil_a_data_df.reset_index(inplace = True, drop = True)
# Preview dataframe
chick_fil_a_data_df.dtypes

Menu                  object
Serving Size (G)     float64
Calories             float64
Fat (G)              float64
Sat. Fat (G)         float64
Trans Fat (G)        float64
Cholesterol (MG)     float64
Sodium (MG)          float64
Carbohydrates (G)    float64
Fiber (G)            float64
Sugar (G)            float64
Protein (G)          float64
dtype: object

In [ ]:
# Connect to the database
rds_connection_string = f"{name_key}:{password_key}@localhost:5432/Pokemon_friends"
engine = create_engine(f"postgresql://{rds_connection_string}")

In [ ]:
# Use pandas to load the Chick-fil-a data (csv converted to dataFrame) into the database
chick_fil_a_data_df.to_sql(name = "chick_fil_a", con = engine, if_exists = "replace", index = False)

In [ ]:
# Use pandas to load the Pokemon data (csv converted to dataFrame) into the database
pokemon_data_df.to_sql(name = "pokemon_data", con = engine, if_exists = "replace", index = False)

In [ ]:
# Check for tables in the database
engine.table_names()

In [ ]:
# Confirm data has been added by querying the pokemon table
pd.read_sql_query("select * from pokemon_data", con = engine).head()

In [ ]:
# Confirm data has been added by querying the chick-fil-a table
pd.read_sql_query("select * from chick_fil_a", con = engine).head()